<section class="content">
    <div class="container-fluid">
        <!-- Form Box -->
        <div class="card card-primary mt-4">
            <div class="card-header">
                <h3 class="card-title"><%= translations.create_user %></h3>
            </div>
            <!-- form start -->
            <form id="create_user" action="/create-user" method="POST" enctype="form-data" class="form-horizontal">
                <div class="card-body">
                    <!-- ID Input -->
                    <div class="form-group row">
                        <label for="uid" class="col-sm-2 col-form-label"><%= translations.id %>:</label>
                        <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" id="uid" name="uid" required minlength="2" maxlength="20">
                            <div class="input-group-append">
                                <!-- Duplicate Check Button for ID -->
                                <button type="button" class="btn btn-warning" onclick="checkDuplicate('username')"><%= translations.check_id %></button>
                            </div>
                        </div>
                    </div>

                    <!-- Nickname Input -->
                    <div class="form-group row">
                        <label for="nic" class="col-sm-2 col-form-label"><%= translations.nickname %>:</label>
                        <div class="col-sm-6 input-group">
                            <input type="text" class="form-control" id="nic" name="nic" required minlength="2" maxlength="8">
                            <div class="input-group-append">
                                <!-- Duplicate Check Button for Nickname -->
                                <button type="button" class="btn btn-warning" onclick="checkDuplicate('displayName')"><%= translations.check_nickname %></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 text-muted offset-md-2 mb-4">
                        <%= translations.nickname_validation_message %>
                    </div>

                    <!-- Password Input -->
                    <div class="form-group row">
                        <label for="password" class="col-sm-2 col-form-label"><%= translations.password %>:</label>
                        <div class="col-sm-6 input-group">
                            <input type="password" class="form-control" id="password" name="password" required minlength="6">
                        </div>
                    </div>
                    <div class="col-md-7 text-muted offset-md-2 mb-4">
                        <%= translations.password_validation_message %>
                    </div>

                    <!-- Slot Percentage -->
                    <div class="form-group row">
                        <label for="mm_slot" class="col-sm-2 col-form-label"><%= translations.slot_percentage %>:</label>
                        <div class="col-sm-6 input-group">
                            <input type="number" class="form-control" id="mm_slot" name="mm_slot" min="0" max="4.30" step="0.01">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 text-muted offset-md-2 mb-4">
                        <%= translations.slot_percentage_validation %>
                    </div>

                    <!-- Live Percentage -->
                    <div class="form-group row">
                        <label for="mm_live" class="col-sm-2 col-form-label"><%= translations.live_percentage %>:</label>
                        <div class="col-sm-6 input-group">
                            <input type="number" class="form-control" id="mm_live" name="mm_live" min="0" max="1.10" step="0.01">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 text-muted offset-md-2 mb-4">
                        <%= translations.live_percentage_validation %>
                    </div>

                    <!-- Bank Information -->
                    <div class="form-group row">
                        <label for="bankinfo" class="col-sm-2 col-form-label"><%= translations.bank %>:</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="bankinfo" name="bankinfo">
                                <option value="경남은행" >경남은행</option>
                                <option value="기업은행" >기업은행</option>
                                <option value="광주은행" >광주은행</option>
                                <option value="국민은행" >국민은행</option>
                                <option value="농협중앙회" >농협중앙회</option>
                                <option value="농협(지역)" >농협(지역)</option>
                                <option value="대구은행" >대구은행</option>
                                <option value="부산은행" >부산은행</option>
                                <option value="산업은행" >산업은행</option>
                                <option value="새마을금고" >새마을금고</option>
                                <option value="신한은행" >신한은행</option>
                                <option value="신협중앙회" >신협중앙회</option>
                                <option value="수출입은행" >수출입은행</option>
                                <option value="수협중앙회" >수협중앙회</option>
                                <option value="외환은행" >외환은행</option>
                                <option value="우리은행" >우리은행</option>
                                <option value="우체국" >우체국</option>
                                <option value="전북은행" >전북은행</option>
                                <option value="제주은행" >제주은행</option>
                                <option value="하나은행" >하나은행</option>
                                <option value="한국씨티은행" >한국씨티은행</option>
                                <option value="HSBC은행" >HSBC은행</option>
                                <option value="sc제일은행" >sc제일은행</option>
                                <option value="카카오뱅크" >카카오뱅크</option>
                                <option value="케이뱅크" >케이뱅크</option>
                                <option value="토스" >토스</option>
                            </select>
                        </div>
                    </div>

                    <!-- Account Number -->
                    <div class="form-group row">
                        <label for="bankcode" class="col-sm-2 col-form-label"><%= translations.account_number %>:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="bankcode" name="bankcode">
                        </div>
                    </div>

                    <!-- Account Holder -->
                    <div class="form-group row">
                        <label for="bankowner" class="col-sm-2 col-form-label"><%= translations.account_holder %>:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="bankowner" name="bankowner" required>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" id="submitBtn" class="btn btn-primary" disabled>Create</button>
                    <a href="javascript:history.back()" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</section>


<script>
  let isUsernameValid = false;
  let isDisplayNameValid = false;

  function checkDuplicate(type) {
    let value = '';
    if (type === 'username') {
      value = document.getElementById('uid').value;
    } else if (type === 'displayName') {
      value = document.getElementById('nic').value;
    }

    if (value.length < 2) {
      alert('Please enter a valid ' + type);
      return;
    }

    fetch(`/check-duplicate?type=${type}&value=${value}`, {
      method: 'GET',
    })
      .then(response => response.json())
      .then(data => {
        if (data.exists) {
          alert(`${type === 'username' ? 'ID' : 'Nickname'} is already in use. Please choose another.`);
          if (type === 'username') isUsernameValid = false;
          if (type === 'displayName') isDisplayNameValid = false;
        } else {
          alert(`${type === 'username' ? 'ID' : 'Nickname'} is available!`);
          if (type === 'username') isUsernameValid = true;
          if (type === 'displayName') isDisplayNameValid = true;
        }
        toggleSubmitButton();
      })
      .catch(error => console.error('Error:', error));
  }

  function toggleSubmitButton() {
    // Enable submit button only if both username and display name are valid
    const submitBtn = document.getElementById('submitBtn');
    if (isUsernameValid && isDisplayNameValid) {
      submitBtn.disabled = false;
    } else {
      submitBtn.disabled = true;
    }
  }
</script>
