<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %> - Admin Panel</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/admin-lte/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/admin-lte/dist/css/adminlte.min.css">

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link">
            <span class="brand-text font-weight-light">Admin</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p><%= translations.dashboard %></p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                <%= translations.users %>
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/users/list" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p><%= translations.user_list %></p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/users/partners" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p><%= translations.partner_list %></p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-gamepad"></i>
                            <p>
                                <%= translations.games %>
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/games/slot-history" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p><%= translations.slot_betting_history %></p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/games/poker-history" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p><%= translations.poker_betting_history %></p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-exchange-alt"></i>
                            <p>
                                <%= translations.transactions %>
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/transactions/partner-history" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p><%= translations.partner_transaction_history %></p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/transactions/user-history" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p><%= translations.user_transaction_history %></p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/settlements" class="nav-link">
                            <i class="nav-icon fas fa-file-invoice-dollar"></i>
                            <p><%= translations.settlement_list %></p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-cogs"></i>
                            <p>
                                <%= translations.admin %>
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/admin/boards" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p><%= translations.boards %></p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/inquiries" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p><%= translations.inquiries %></p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/messages" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p><%= translations.messages %></p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/deposit-requests" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p><%= translations.deposit_requests %></p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/withdrawal-requests" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p><%= translations.withdrawal_requests %></p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0"><%= title %></h1>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <%- include(contentPath) %>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <strong>Copyright &copy; 2024 <a href="/">Admin</a>.</strong> All rights reserved.
    </footer>
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/admin-lte/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/admin-lte/dist/js/adminlte.min.js"></script>
<!-- Date Utils -->
<script src="/js/dateUtils.js"></script>
<!-- Custom Admin Scripts -->
<script src="/js/admin.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
</body>
</html>
