<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="mb-3">
                    <input type="text" id="usernameFilter" class="form-control mb-2" placeholder="<%= translations.filter_by_username %>">
                    <select id="gameSelect" class="form-control mb-2">
                        <option value=""><%= translations.all_games %></option>
                        <% games.forEach(game => { %>
                            <option value="<%= game.gameName %>"><%= game.gameName %></option>
                        <% }); %>
                    </select>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <input type="date" id="startDate" class="form-control" placeholder="<%= translations.start_date %>">
                        </div>
                        <div class="col-md-6 mb-2">
                            <input type="date" id="endDate" class="form-control" placeholder="<%= translations.end_date %>">
                        </div>
                    </div>
                    <button id="filterButton" class="btn btn-primary"><%= translations.filter %></button>
                    <button id="resetButton" class="btn btn-secondary ml-2"><%= translations.reset %></button>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th><%= translations.username %></th>
                        <th><%= translations.game %></th>
                        <th><%= translations.game_code %></th>
                        <th><%= translations.game_type %></th>
                        <th><%= translations.rtp_rate %></th>
                        <th><%= translations.payout %></th>
                        <th><%= translations.bet_amount %></th>
                        <th><%= translations.rolling_rate %></th>
                        <th><%= translations.balance_after_spin %></th>
                        <th><%= translations.date %></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% bets.forEach(bet => { %>
                        <tr>
                            <td><%= bet.username %></td>
                            <td><%= bet.game %></td>
                            <td><%= bet.gameCode %></td>
                            <td><%= bet.gameCategoryId %></td>
                            <td><%= (bet.rtpRate * 100).toFixed(2) %>%</td>
                            <td><%= (bet.payout / 100).toFixed(2) %></td>
                            <td><%= (bet.betAmount / 100).toFixed(2) %></td>
                            <td><%= (bet.rollingRate * 100).toFixed(2) %>%</td>
                            <td><%= (bet.balanceAfterSpin / 100).toFixed(2) %></td>
                            <td><%= bet.createdAt %></td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
