<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form id="filterForm" method="GET" action="/users/list">
                            <div class="row">
                                <div class="col-md-3 mb-2">
                                    <div class="form-group">
                                        <label for="usernameFilter"><%= translations.username %></label>
                                        <input type="text" id="usernameFilter" name="username" class="form-control" placeholder="<%= translations.filter_by_username %>" value="<%= filters.username || '' %>">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <div class="form-group">
                                        <label for="startDate"><%= translations.start_date %></label>
                                        <input type="date" id="startDate" name="startDate" class="form-control" value="<%= filters.startDate || '' %>">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <div class="form-group">
                                        <label for="endDate"><%= translations.end_date %></label>
                                        <input type="date" id="endDate" name="endDate" class="form-control" value="<%= filters.endDate || '' %>">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-2 d-flex align-items-end">
                                    <button type="submit" class="btn btn-primary mr-2"><%= translations.filter %></button>
                                    <a href="/users/list" class="btn btn-secondary"><%= translations.reset %></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><%= translations.user_hierarchy %></h3>
                </div>
                <div class="card-body">
                    <table id="userTable" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th><%= translations.username %></th>
                            <th><%= translations.balance %></th>
                            <th><%= translations.registration_date %></th>
                            <th><%= translations.actions %></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% function renderRows(users, level) { %>
                            <% users.forEach(function(user) { %>
                                <tr data-id="<%= user.id %>" data-level="<%= level %>" data-parent-id="<%= user.parentUserId %>" class="level-<%= level %>">
                                    <td class="details-control">
                                        <% if (user.children && user.children.length > 0) { %>
                                            <i class="fas fa-plus-square"></i>
                                        <% } %>
                                    </td>
                                    <td><%= user.username %></td>
                                    <td><%= (user.balance / 100).toFixed(2) %></td>
                                    <td><%= user.registrationDate %></td>
                                    <td>
                                        <button class="btn btn-sm btn-success issue-points-btn" data-user-id="<%= user.id %>" data-username="<%= user.username %>">
                                            <%= translations.issue_points %>
                                        </button>
                                    </td>
                                </tr>
                                <% if (user.children && user.children.length > 0) { %>
                                    <%= renderRows(user.children, level + 1) %>
                                <% } %>
                            <% }); %>
                        <% } %>
                        <% renderRows(userTree, 0); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>

<!-- Include necessary scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<!-- Font Awesome for icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<script>
  $(document).ready(function() {
    // Initialize the DataTable
    var table = $('#userTable').DataTable({
      paging: false,
      searching: false,
      info: false,
      ordering: false,
      columnDefs: [
        { targets: [0], orderable: false },
      ]
    });

    // Hide all child rows initially
    $('tr[data-level][data-level!="0"]').hide();

    // Event delegation for expand/collapse
    $(document).on('click', 'td.details-control', function() {
      var tr = $(this).closest('tr');
      var tdi = tr.find('i.fas');
      var level = parseInt(tr.attr('data-level'));
      var id = tr.attr('data-id');

      if (tr.hasClass('shown')) {
        // Row is already expanded, collapse it
        tr.removeClass('shown');
        tdi.removeClass('fa-minus-square').addClass('fa-plus-square');
        collapseRows(id);
      } else {
        // Row is collapsed, expand it
        tr.addClass('shown');
        tdi.removeClass('fa-plus-square').addClass('fa-minus-square');
        expandRows(id);
      }
    });

    function expandRows(parentId) {
      $('tr[data-parent-id="' + parentId + '"]').each(function() {
        $(this).show();
        // If the row was previously expanded, expand its children as well
        if ($(this).hasClass('shown')) {
          var childId = $(this).attr('data-id');
          expandRows(childId);
        }
      });
    }

    function collapseRows(parentId) {
      $('tr[data-parent-id="' + parentId + '"]').each(function() {
        $(this).hide();
        $(this).removeClass('shown');
        $(this).find('i.fas').removeClass('fa-minus-square').addClass('fa-plus-square');
        var childId = $(this).attr('data-id');
        collapseRows(childId);
      });
    }
  });
</script>

<style>
    td.details-control {
        cursor: pointer;
        width: 30px;
    }
    td.details-control i {
        display: block;
        text-align: center;
    }
    tr.level-0 td:first-child {
        padding-left: 10px;
    }
    tr.level-1 td:first-child {
        padding-left: 30px;
    }
    tr.level-2 td:first-child {
        padding-left: 50px;
    }
    tr.level-3 td:first-child {
        padding-left: 70px;
    }
    /* Add more levels as needed */
</style>
