<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Balance</th>
                        <th>Registration Date</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.id %></td>
                            <td><%= user.username %></td>
                            <td>$<%= (user.balance / 100).toFixed(2) %></td>
                            <td><%= new Date(user.registrationDate).toLocaleString() %></td>
                            <td>
                                <button class="btn btn-sm btn-primary issue-points-btn" data-user-id="<%= user.id %>" data-username="<%= user.username %>">
                                    Issue Points
                                </button>
                            </td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>